---
bindings:
- name: programs
  resource: :/api/programs
---
<div class="card">
  <div class="card-header">
    Programs
  </div>
  {{ if .bindings.programs }}
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="col-sm-2">State</th>
        <th class="col-sm-5">Name</th>
        <th class="col-sm-1">PID</th>
        <th class="col-sm-4">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{ range .bindings.programs }}
      <tr>
        <td class="col-sm-2">{{ .State }}</td>
        <td class="col-sm-5">{{ .Name }}</td>
        <td class="col-sm-1">{{ if .ProcessID }}{{ .ProcessID }}{{ end }}</td>
        <td class="col-sm-4">
            <button
                class="btn btn-sm btn-success"
                onclick="procwatch.actionProgram('{{ .Name }}', 'start')"
                href="#"
                {{ if eq .State "RUNNING" }}disabled="disabled"{{ end }}
            >
              <i class="fa fa-play"></i> Start
            </button>

            <button
                class="btn btn-sm btn-warning"
                onclick="procwatch.actionProgram('{{ .Name }}', 'restart')"
                href="#"
                {{ if ne .State "RUNNING" }}disabled="disabled"{{ end }}
            >
              <i class="fa fa-refresh"></i> Restart
            </button>

            <button
                class="btn btn-sm btn-danger"
                onclick="procwatch.actionProgram('{{ .Name }}', 'stop')"
                href="#"
                {{ if ne .State "RUNNING" }}disabled="disabled"{{ end }}
            >
              <i class="fa fa-stop"></i> Stop
            </button>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <div class="card-block">
    <p class="card-text">
      No programs are configured.
    </p>
  </div>
  {{ end }}
</div>
