---
bindings:
- name:     programs
  resource: /api/programs
---
<div class="card">
  <div class="card-header">
    Programs
  </div>
  {{ if $.bindings.programs }}
  <table class="table table-sm">
    <thead>
      <tr>
        <th class="col-sm-2">State</th>
        <th class="col-sm-3">Name</th>
        <th class="col-sm-1">PID</th>
        <th class="col-sm-2">Uptime</th>
        <th class="col-sm-4">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{ range $program := $.bindings.programs }}
      <tr>
        <td class="col-sm-2">{{ $program.State }}</td>
        <td class="col-sm-3">{{ $program.Name }}</td>
        <td class="col-sm-1">{{ or $program.ProcessID (sanitize "&mdash;") }}</td>
        <td class="col-sm-2">
          {{ if and (eq $program.State `RUNNING`) $program.LastStartedAt }}
              {{ since $program.LastStartedAt `second` }}
          {{ else if any $program.State `EXITED` `FATAL` `BACKOFF` }}
              exited {{ $program.LastExitStatus }} ({{ since $program.LastExitedAt "s" }} ago)
          {{ end }}
        </td>
        <td class="col-sm-4 text-right">
            <button
                class="btn btn-sm btn-success"
                onclick="procwatch.actionProgram('{{ $program.Name }}', 'start')"
                href="#"
                {{ if eq $program.State "RUNNING" }}disabled="disabled"{{ end }}
            >
              <i class="fa fa-play"></i> Start
            </button>

            <button
                class="btn btn-sm btn-warning"
                onclick="procwatch.actionProgram('{{ $program.Name }}', 'restart')"
                href="#"
                {{ if ne $program.State "RUNNING" }}disabled="disabled"{{ end }}
            >
              <i class="fa fa-refresh"></i> Restart
            </button>

            <button
                class="btn btn-sm btn-danger"
                onclick="procwatch.actionProgram('{{ $program.Name }}', 'stop')"
                href="#"
                {{ if ne $program.State "RUNNING" }}disabled="disabled"{{ end }}
            >
              <i class="fa fa-stop"></i> Stop
            </button>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else }}
  <div class="card-block">
    <p class="card-text">
      No programs are configured.
    </p>
  </div>
  {{ end }}
</div>
